.windows {
  margin-left: 30px;
  padding-bottom: 5px;
}

.tabs {
  margin-left: 30px;
}

.sessions {
  padding-bottom: 40px;
}

body {
  background-color: #191919;
  color: #a9a9a9;
  font-size: 1.1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
